salida
*.swp
tags
*.bak
www/
autoscan*.log
configure.scan
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
depcomp
missing
src/.deps/
src/Makefile
src/Makefile.in
src/genixl

